<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>商品リスト</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <!--<li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">jsGrid</li>-->
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">商品</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="form-group">
                <select class="form-control" style="width:300px;" id="type">
                    {{#each data.type}}
                    <option value="{{productTypeID}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div id="jsGrid1"></div>
        </div>
        <div class="card-footer">
            <button type="button" onclick="location.href='/admin/productadd'" class="btn btn-primary insert">追加</button>
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->

<script defer src="/static/js/db.js"></script>
<script defer src="/static/plugins/jsgrid/jsgrid.min.js"></script>
<link rel="stylesheet" href="/static/plugins/jsgrid/jsgrid.min.css">
<link rel="stylesheet" href="/static/plugins/jsgrid/jsgrid-theme.min.css">

<script>

    var dbx = null;

    $(document).ready(function () {
        var selectedType = $('#type option:selected').val();
        loadDBX(selectedType);
    });

    $('select').on('change', function () {
        var selectedType = $('#type option:selected').val();
        console.log(selectedType);
        $.ajax({
            url: "/productSelect",
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({ type: selectedType }),
            success: function (msg) {
                console.log(msg);
                dbx = msg.product;
                loadGrid();
            }
        });

    });

    function loadDBX(selectedType) {
        $.ajax({
            url: "/productSelect",
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({ type: selectedType }),
            success: function (msg) {
                dbx = msg.product;
                loadGrid();
            }
        });
    }

    function loadGrid() {
        $("#jsGrid1").jsGrid({
            height: "100%",
            width: "100%",
            sorting: true,
            paging: true,
            editing: false,
            data: dbx,
            pageSize: 10,

            deleteConfirm: "Do you really want to delete this record?",

            fields: [
                { name: "productID", type: "text", width: 50, title: "ID" },
                { name: "name", type: "text", width: 180, title: "Name" },
                { name: "description", type: "text", width: 300, title: "記述" },
                { type: "control", editButton: false, title: "Delete" }
            ],
            rowClick: function (idx) {
                var url = "/admin/newsdetails/" + idx.item.newid;
                console.log(url);
                window.location = "/admin/newsdetails/" + idx.item.newid;

            },
            onItemDeleting: function (args) {

                console.log(args.item.newid);
                $.ajax({
                    url: "/newsDelete",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({ newid: args.item.newid }),
                    success: function (msg) {

                    }
                })
            },
            onItemDeleted: function (args) {
                alert('Deleted');
            }
        });
    }

</script>