<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Thái Hưng pro.ltd</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/responsive_1.2.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/contact.js"></script>
<!-- Google ReCaptcha -->
<script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_6LfrYawZAAAAAA3LxPNto_hxdTHYkAaGWv-TpKU1"></script>
