<div class="contact-us text-center">
    <div class="text-container container text-center">
        <div class="title">
            <h1>お問い合わせ</h1>
            <hr class="line">
            <h3>CONTACT US</h3>
        </div>
        <div class="content">
            ThaiHungProからの質問およびサポートリクエストについては、ここに情報を残してください。 できるだけ早く確認して対応いたします。 よろしくお願いします！
        </div>
    </div>
    <div class="container">
        <div class="contact-box">
            <span class="tel">TEL.04 2240 2689</span>
            <span class="tel">HOTLINE.0986 019 870</span>
            <span class="working-hour">［受付時間］ 08:00～17:00</span>
        </div>
    </div>

    <div class="container">
        
        <div class="contact-form" style="position:relative;">
            <img src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif" alt="処理中..." id="gif">
            <div class="firstname">
                <div class="form-label"><span class="">社名<span class="required">*</span></span></div>
                <div class=""><input id="company" name="company" type="text"></div>
            </div>
            <div class="lastname">
                <div class="form-label"><span class="form-label">氏名<span class="required">*</span></span></div>
                <div class=""><input id="name" name="name" type="text"></div>
            </div>
            <div class="address">
                <div class="form-label"><span class="form-label">居住地（日本・ベトナム・その他）<span class="required">*</span></span></div>
                <div class=""><input id="country" name="country" type="text"></div>
            </div>
            <div class="contentmess">
                <div class="form-label"><span class="form-label">問い合わせ内容（ベトナム国内調達・日本への輸出・その他） <span class="required">*</span></span></div>
                <div class=""><textarea id="content" name="content"></textarea></div>
            </div>
            
            <!--<div class="g-recaptcha captcha" data-sitekey="6LfrYawZAAAAAA3LxPNto_hxdTHYkAaGWv-TpKU1"></div>-->
            <div class="submit"><button class="toiawase"> 送る</button></div>
        </div>
        </div>

</div>
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.19090738276!2d105.84076761440672!3d20.984983194648468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac429d762969%3A0x36ba5ae203da3d10!2zMjkgTmfDtSAxNjggxJDGsOG7nW5nIEdpw6FwIELDoXQsIEdpw6FwIELDoXQsIEhhaSBCw6AgVHLGsG5nLCBIw6AgTuG7mWksIFZpZXRuYW0!5e0!3m2!1sen!2sjp!4v1593505129107!5m2!1sen!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="w-100"></iframe>
</div>
<div class="social text-center">
    <div class="social-container">
        <div class="fb"><a href="#"><img src="/static/images/page/facebook.png"></a></div>
        <div class="fb"><a href="#"><img src="/static/images/page/twitter.png"></a></div>
        <div class="fb"><a href="#"><img src="/static/images/page/linkedin.png"></a></div>
        <div class="fb"><a href="#"><img src="/static/images/page/youtube.png"></a></div>
    </div>
</div>