
<div class="main">
    <div class="head-slide">
        <img class="w-100 slide" src="images/page/slide-1.png">
        <div class="logo">
            <img src="images/page/logo.png">
        </div>
    </div>
    <div class="about-us">
        <div class="text-container">
            <div class="title">
                <h1>ごあいさつ</h1>
                <hr class="hr-line">
                <h3 class="color-blue">About us</h3>
            </div>
            <div class="content">
                Thai Hung Investment＆Production Co.、Ltd（THAIHUNGPRO Co.、Ltd）は、梱包材、工業用印刷製品、ロール、ナイロンフィルム、ナイロンバッグの分野で事業を展開しています。 業界。 近年、同社の評判とブランド名は、タンロン工業団地、タンロンII、クアンミン工業団地、ケボ工業団地などの北部工業地帯の工場の信頼と協力によって確認されています。 -バクニン、ノイバイ工業団地...
            </div>
        </div>
        <div class="side-item">
            <img src="images/page/image-1.png">
        </div>
    </div>
    <div class="strong-point">
        <div class="side-item">
            <img class="background" src="images/page/image-2.png">
            <img class="inside-strong-point" src="images/page/image-3.png">
        </div>
        <div class="text-container">
            <div class="title">
                <h1>私たちの強み</h1>
                <hr class="hr-line">
                <h3 class="color-blue">Our strong point</h3>
            </div>
            <div class="content">
                直接輸入された原材料の利点、市場で競争するのに良い価格で、同社は技術、機械システムを継続的に改善し、トレーニングコースを持つ労働者のスキルを改善しています。 短期および長期の技術的専門知識、労働安全を創出し、産業衛生を確保します。 私たちは、品質、数量、納期に関するお客様のすべての要件を満たす製品を提供できると確信しています。
                <button class="home-button">詳細を見る</button>
            </div>
        </div>
    </div>
    <div class="our-service">
        <img class="w-100" src="images/page/image-4.png">
        <div class="text-container">
            <div class="title">
                <h1>私たちのサービス</h1>
                <hr class="line">
                <h3>OUR SERVICES</h3>
            </div>
            <div class="content">
                <b>包装資材、工業用印刷製品、ロール、ナイロンフィルム、<br />産業供給用ナイロンバッグの製造。</b>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="container">
            <div class="text-container">
                <div class="title">
                    <h1>私たちの取扱商品</h1>
                    <hr class="line">
                    <h3 class="color-blue">OUR PRODUCTS</h3>
                </div>
                <div class="content">
                    私たちは常に長期的な事業戦略とともにお客様の声に耳を傾けることをモットーに、Thai Hung Investment＆Production Co.、Ltd.はお客様の成功は私たち自身の成功であると認識しています。
                </div>
            </div>
        </div>
        <div class="container">
            <div class="product-container">
                <div class="product-item">
                    <img src="images/product/plastic-bag.png">
                    <div class="product-name">ビニール袋</div>
                </div>
                <div class="product-item">
                    <img src="images/product/PE-film.png">
                    <div class="product-name">PEフィルム</div>
                </div>
                <div class="product-item">
                    <img src="images/product/PVC-film.png">
                    <div class="product-name">PVCフィルム</div>
                </div>
                <div class="product-item">
                    <img src="images/product/zipper-bag.png">
                    <div class="product-name">ジッパーバッグ</div>
                </div>
                <div class="product-item">
                    <img src="images/product/plastic-tie-straps.png">
                    <div class="product-name">プラスチック製タイストラップ</div>
                </div>
                <div class="product-item">
                    <img src="images/product/PVC-film-2.png">
                    <div class="product-name">PVCフィルム</div>
                </div>
            </div>
            <div class="product-button">
                <button class="home-button">詳細を見る</button>
            </div>
        </div>
    </div>
    <div class="factory">
        <div class="container">
            <div class="text-container">
                <div class="title">
                    <h1>工場・会社</h1>
                    <hr class="line">
                    <h3 class="color-blue">OUR FACTORIES</h3>
                </div>
                <div class="content">
                    ThaiHungProは、品質、サービス、高度な技術が常にあらゆる分野で事業を行う企業の存続と発展において最も重要な要素であることを理解しており、これも「戦い」と見なされています。 そこでは常にお客様が主な決定です-私たちの成功を決定します。
                </div>
            </div>
        </div>
        <div class="full-width-gallery">
            <div class="">
                <a href=""><img class="w-100" src="images/gallery/gallery-1.png"></a>
            </div>
            <div class="">
                <a href=""><img class="w-100" src="images/gallery/gallery-2.png"></a>
            </div>
            <div class="">
                <a href=""><img class="w-100" src="images/gallery/gallery-3.png"></a>
            </div>
            <div class="">
                <a href=""><img class="w-100" src="images/gallery/gallery-4.png"></a>
            </div>
            <div class="">
                <a href=""><img class="w-100" src="images/gallery/gallery-5.png"></a>
            </div>
            <div class="">
                <a href=""><img class="w-100" src="images/gallery/gallery-6.png"></a>
            </div>
            <div class="">
                <a href=""><img class="w-100" src="images/gallery/gallery-7.png"></a>
            </div>
            <div class="">
                <a href=""><img class="w-100" src="images/gallery/gallery-8.png"></a>
            </div>
        </div>
        <div class="product-button">
            <button class="home-button">詳細を見る</button>
        </div>
        <div class="full-width-gallery-cover-image">
            <img class="w-100" src="images/page/image-6.png">
        </div>
    </div>
    <div class="news">
        <div class="container">
            <div class="text-container">
                <div class="title">
                    <h1>ニュース</h1>
                    <hr class="line">
                    <h3 class="color-blue">NEWS</h3>
                </div>
                <div class="content">
                    重要なイベントに関するニュース。 業界の最新ニュース、最新ニュースグループの更新を専門とする企業ポリシー。
                </div>
            </div>
        </div>
        <div class="container">
            <div class="grid-2">
                <div class="highlight-news">
                    <img class="w-100" src="images/news/news-1.png">
                    <div class="des">
                        <h4>PEフィルムについて知っておくべきこと</h4>
                        <div class="news-date">29/02/2020</div>
                        <div class="readmore">続きを読む<svg width="20" height="20"><path d="M2,10 L17,10 L10,5 M17,10 L10,15" stroke-width="1" fill="none" stroke="var(--blue)"></svg></div>
                    </div>
                </div>
                <div class="other-news">
                    <div class="small-news">
                        <img class="w-100" src="images/news/news-2.png">
                        <div class="des">
                            <h5>粘着テープとリボンの完璧な組み合わせ</h5>
                            <span class="news-date">29/02/2020</span>
                            <div class="readmore">続きを読む<svg width="20" height="20"><path d="M2,10 L17,10 L10,5 M17,10 L10,15" stroke-width="1" fill="none" stroke="var(--blue)"></svg></div>
                        </div>
                    </div>
                    <div class="small-news">
                        <img class="w-100" src="images/news/news-3.png">
                        <div class="des">
                            <h5>誰もがビニール袋について知らないこと</h5>
                            <span class="news-date">29/02/2020</span>
                            <div class="readmore">続きを読む<svg width="20" height="20"><path d="M2,10 L17,10 L10,5 M17,10 L10,15" stroke-width="1" fill="none" stroke="var(--blue)"></svg></div>
                        </div>
                    </div>
                    <div class="small-news">
                        <img class="w-100" src="images/news/news-4.png">
                        <div class="des">
                            <h5>韓国でのCovid-19の発生：ベトナムの労働者を支援する計画の準備</h5>
                            <span class="news-date">29/02/2020</span>
                            <div class="readmore">続きを読む<svg width="20" height="20"><path d="M2,10 L17,10 L10,5 M17,10 L10,15" stroke-width="1" fill="none" stroke="var(--blue)"></svg></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-button">
            <button class="home-button">詳細を見る</button>
        </div>
    </div>
    <div class="contact-us text-center">
        <div class="text-container container text-center">
            <div class="title">
                <h1>お問い合わせ</h1>
                <hr class="line">
                <h3>CONTACT US</h3>
            </div>
            <div class="content">
                ThaiHungProからの質問およびサポートリクエストについては、ここに情報を残してください。 できるだけ早く確認して対応いたします。 よろしくお願いします！
            </div>
        </div>
        <div class="container">
            <div class="contact-box">
                <span class="tel">TEL.04 2240 2689</span>
                <span class="tel">HOTLINE.0986 019 870</span>
                <span class="working-hour">［受付時間］ 08:00～17:00</span>
            </div>
        </div>
        <div class="container">
            <div class="contact-form">
                <div class="firstname">
                    <div class="form-label"><span class="">社名<span class="required">*</span></span></div>
                    <div class=""><input type="text"></div>
                </div>
                <div class="lastname">
                    <div class="form-label"><span class="form-label">氏名<span class="required">*</span></span></div>
                    <div class=""><input type="text"></div>
                </div>
                <div class="address">
                    <div class="form-label"><span class="form-label">居住地（日本・ベトナム・その他）<span class="required">*</span></span></div>
                    <div class=""><input type="text"></div>
                </div>
                <div class="contentmess">
                    <div class="form-label"><span class="form-label">問い合わせ内容（ベトナム国内調達・日本への輸出・その他） <span class="required">*</span></span></div>
                    <div class=""><textarea></textarea></div>
                </div>
                <div class="submit"><button>送る</button></div>
            </div>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d84272.44478428304!2d105.79558250141893!3d21.01863420403147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aba15ec15d17%3A0x620e85c2cfe14d4c!2sHo%20Chi%20Minh%20Mausoleum!5e0!3m2!1sen!2s!4v1591702736982!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="w-100"></iframe>
    </div>
    <div class="social text-center">
        <div class="social-container">
            <div class="fb"><a href="#"><img src="images/page/facebook.png"></a></div>
            <div class="fb"><a href="#"><img src="images/page/twitter.png"></a></div>
            <div class="fb"><a href="#"><img src="images/page/linkedin.png"></a></div>
            <div class="fb"><a href="#"><img src="images/page/youtube.png"></a></div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-menu text-center">
            <ul>
                <li><a href="#">会社概要</a></li>
                <li><a href="#">取扱商品</a></li>
                <li><a href="#">ニュース</a></li>
                <li><a href="#">工場・会社写真</a></li>
            </ul>
        </div>
        <div class="copy-right text-center">
            © 2016 Thaihungpro.ltd, All rights reserved.
        </div>
        <div class="scroll-to-top">
            <svg><path d="M20,30 L20,10 L13,17 M20,10 L27,17" /></svg>
        </div>
    </div>
</div>