<div class="main news-page">
    <div class="banner">
        <div class="banner-img">
            <img class="w-100" src="images/page/slide-1.png">
            <div class="page-title"><span>ニュース</span></div>
        </div>
    </div>
    <div class="about">
        <div class="title text-center container">
            <h1>ニュース</h1>
            <hr class="hr-line">
            <h3 class="color-blue">News</h3>
        </div>
        <div class="content">
            <div class="container text-center">
                重要なイベントに関するニュース。 業界の最新ニュース、最新ニュースグループの更新を専門とする企業ポリシー。
            </div>
        </div>
        <div class="news container">
            <div class="highlight-news">
                <div class="new-image">
                    <img class="w-100" src="images/product/PVC-film.png">
                </div>
                <div class="news-des">
                    <h3>PEフィルムについて知っておくべきこと</h3>
                    <span class="date">30/06/2019</span>
                    <hr>
                    <div class="">最近では、PE（ポリエチレン）フィルムは食品の包装や保存に広く使用されているため、消費者に人気があります。PEフィルム（チットフィルム）はポリエチレン製であるため、次の特性があります。</div>
                    <div class="readmore">続きを読む<svg width="20" height="20"><path d="M2,10 L17,10 L10,5 M17,10 L10,15" stroke-width="1" fill="none" stroke="var(--white)"></svg></div>
                </div>
            </div>
            <div class="new-item">
                <div class="new-image"><img src="images/gallery/gallery-3.png"></div>
                <div class="news-des">
                    <h4>Thai Hung Co.、Ltd.とVTC Academyの採用協力の調印式</h4>
                    <span class="date">30/06/2019</span>
                    <div class="">学習、交換、交渉のプロセスを経て、2019年5月19日、VTCアカデミー主催のオープンデー2019イベント「Understanding Yourself-Choose the Right Sector」で150人以上の参加 学生、学生、保護者...</div>
                    <div class="readmore">続きを読む<svg width="20" height="20"><path d="M2,10 L17,10 L10,5 M17,10 L10,15" stroke-width="1" fill="none" stroke="var(--white)"></svg></div>
                </div>
            </div>
            <div class="new-item">
                <div class="new-image"><img src="images/gallery/gallery-3.png"></div>
                <div class="news-des">
                    <h4>Thai Hung Co.、Ltd.とVTC Academyの採用協力の調印式</h4>
                    <span class="date">30/06/2019</span>
                    <div class="">学習、交換、交渉のプロセスを経て、2019年5月19日、VTCアカデミー主催のオープンデー2019イベント「Understanding Yourself-Choose the Right Sector」で150人以上の参加 学生、学生、保護者...</div>
                    <div class="readmore">続きを読む<svg width="20" height="20"><path d="M2,10 L17,10 L10,5 M17,10 L10,15" stroke-width="1" fill="none" stroke="var(--white)"></svg></div>
                </div>
            </div>
            <div class="new-item">
                <div class="new-image"><img src="images/gallery/gallery-3.png"></div>
                <div class="news-des">
                    <h4>Thai Hung Co.、Ltd.とVTC Academyの採用協力の調印式</h4>
                    <span class="date">30/06/2019</span>
                    <div class="">学習、交換、交渉のプロセスを経て、2019年5月19日、VTCアカデミー主催のオープンデー2019イベント「Understanding Yourself-Choose the Right Sector」で150人以上の参加 学生、学生、保護者...</div>
                    <div class="readmore">続きを読む<svg width="20" height="20"><path d="M2,10 L17,10 L10,5 M17,10 L10,15" stroke-width="1" fill="none" stroke="var(--white)"></svg></div>
                </div>
            </div>
            <div class="new-item">
                <div class="new-image"><img src="images/gallery/gallery-3.png"></div>
                <div class="news-des">
                    <h4>Thai Hung Co.、Ltd.とVTC Academyの採用協力の調印式</h4>
                    <span class="date">30/06/2019</span>
                    <div class="">学習、交換、交渉のプロセスを経て、2019年5月19日、VTCアカデミー主催のオープンデー2019イベント「Understanding Yourself-Choose the Right Sector」で150人以上の参加 学生、学生、保護者...</div>
                    <div class="readmore">続きを読む<svg width="20" height="20"><path d="M2,10 L17,10 L10,5 M17,10 L10,15" stroke-width="1" fill="none" stroke="var(--white)"></svg></div>
                </div>
            </div>
            <div class="paginator-container">
                <div class="paginator">
                    <a class="skip" href="#"> &lt;&lt; </a>
                    <a class="skip" href="#"> &lt; </a>
                    <a class="active" href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a class="skip" href="#"> &gt; </a>
                    <a class="skip" href="#"> &gt;&gt; </a>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-us text-center">
        <div class="text-container container text-center">
            <div class="title">
                <h1>お問い合わせ</h1>
                <hr class="line">
                <h3>CONTACT US</h3>
            </div>
            <div class="content">
                ThaiHungProからの質問およびサポートリクエストについては、ここに情報を残してください。 できるだけ早く確認して対応いたします。 よろしくお願いします！
            </div>
        </div>
        <div class="container">
            <div class="contact-box">
                <span class="tel">TEL.04 2240 2689</span>
                <span class="tel">HOTLINE.0986 019 870</span>
                <span class="working-hour">［受付時間］ 08:00～17:00</span>
            </div>
        </div>
        <div class="container">
            <div class="contact-form">
                <div class="firstname">
                    <div class="form-label"><span class="">社名<span class="required">*</span></span></div>
                    <div class=""><input type="text"></div>
                </div>
                <div class="lastname">
                    <div class="form-label"><span class="form-label">氏名<span class="required">*</span></span></div>
                    <div class=""><input type="text"></div>
                </div>
                <div class="address">
                    <div class="form-label"><span class="form-label">居住地（日本・ベトナム・その他）<span class="required">*</span></span></div>
                    <div class=""><input type="text"></div>
                </div>
                <div class="contentmess">
                    <div class="form-label"><span class="form-label">問い合わせ内容（ベトナム国内調達・日本への輸出・その他） <span class="required">*</span></span></div>
                    <div class=""><textarea></textarea></div>
                </div>
                <div class="submit"><button>送る</button></div>
            </div>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d84272.44478428304!2d105.79558250141893!3d21.01863420403147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aba15ec15d17%3A0x620e85c2cfe14d4c!2sHo%20Chi%20Minh%20Mausoleum!5e0!3m2!1sen!2s!4v1591702736982!5m2!1sen!2s" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="w-100"></iframe>
    </div>
    <div class="social text-center">
        <div class="social-container">
            <div class="fb"><a href="#"><img src="images/page/facebook.png"></a></div>
            <div class="fb"><a href="#"><img src="images/page/twitter.png"></a></div>
            <div class="fb"><a href="#"><img src="images/page/linkedin.png"></a></div>
            <div class="fb"><a href="#"><img src="images/page/youtube.png"></a></div>
        </div>
    </div>
</div>