<div class="main product-page product-detail">
    <div class="banner">
        <div class="banner-img">
            <img class="w-100" src="images/page/slide-1.png">
            <div class="page-title"><span>取扱商品</span></div>
        </div>
    </div>
    <div class="about">
        <div class="title text-center container">
            <h1>私たちの取扱商品</h1>
            <hr class="hr-line">
            <h3 class="color-blue">Our product</h3>
        </div>
        <div class="content">
            <div class="container text-center">
                私たちは常に長期的な事業戦略とともにお客様の声に耳を傾けることをモットーに、Thai Hung Investment＆Production Co.、Ltd.はお客様の成功は私たち自身の成功であると認識しています。
            </div>
        </div>
        <div class="product">
            <div class="product__tab w-100 active">
                <!--<div class="container product__tab__container text-center" style="visibility: visible; animation-name: fadeInUp;">
                    <ul class="nav nav-tabs border-0 d-inline-block" role="tablist">
                        <li class="nav-item d-inline-block border-0 active">
                            <a class="nav-link" data-toggle="tab" href="#product__tab0" role="tab" aria-selected="false">ビニール袋</a>
                        </li>
                        <li class="nav-item d-inline-block border-0">
                            <a class="nav-link" data-toggle="tab" href="#product__tab1" role="tab" aria-selected="true">PEフィルム</a>
                        </li>
                        <li class="nav-item d-inline-block border-0">
                            <a class="nav-link" data-toggle="tab" href="#product__tab2" role="tab" aria-selected="true">PVCフィルム</a>
                        </li>
                        <li class="nav-item d-inline-block border-0">
                            <a class="nav-link" data-toggle="tab" href="#product__tab3" role="tab" aria-selected="true">ジッパーバッグ</a>
                        </li>
                        <li class="nav-item d-inline-block border-0">
                            <a class="nav-link" data-toggle="tab" href="#product__tab4" role="tab" aria-selected="true">プラスチック製タイストラップ</a>
                        </li>
                        <li class="nav-item d-inline-block border-0">
                            <a class="nav-link" data-toggle="tab" href="#product__tab5" role="tab" aria-selected="true">PVCフィルム</a>
                        </li>
                    </ul>
                </div>-->
                <div class="tab-content container">
                    <div class="tab-pane fade active in" id="product__tab0" role="tabpanel">
                        <div class="product__detail w-75">
                            <h3 class="product__detail-title text-center">{{data.product.name}}</h3>
                            <div class="product__detail-describe">
                                <div class="product__detail-image">
                                    <div class="container-fluid px-sm-1 py-5 mx-auto">
                                        <div class="row justify-content-center">
                                            <div class="d-flex">
                                                <div class="card">
                                                    <fieldset id="f11" class="active">
                                                        <div class="product-pic"> <img class="pic0" src="images/product/product-images-1.png"> </div>
                                                    </fieldset>
                                                    <fieldset id="f21" class="">
                                                        <div class="product-pic"> <img class="pic0" src="images/product/PE-film.png"> </div>
                                                    </fieldset>
                                                    <fieldset id="f31" class="">
                                                        <div class="product-pic"> <img class="pic0" src="images/product/plastic-bag.png"> </div>
                                                    </fieldset>
                                                    <fieldset id="f41" class="">
                                                        <div class="product-pic"> <img class="pic0" src="images/product/PVC-film.png"> </div>
                                                    </fieldset>
                                                    <div class="product-thumb thumbnails">
                                                        <div id="f1" class="tb tb-active"> <img class="thumbnail-img fit-image" src="images/product/product-images-1.png"> </div>
                                                        <div id="f2" class="tb"> <img class="thumbnail-img fit-image" src="images/product/PE-film.png"> </div>
                                                        <div id="f3" class="tb"> <img class="thumbnail-img fit-image" src="images/product/plastic-bag.png"> </div>
                                                        <div id="f4" class="tb"> <img class="thumbnail-img fit-image" src="images/product/PVC-film.png"> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__detail-text">
                                    <h5 class="m-0"><b>製品説明</b></h5>
                                    <div class="excerpt">{{data.product.description}}。</div>
                                </div>
                            </div>
                        </div>
                        <div class="product__more-info w-75">
                            {{data.product.content}}
                        </div>
                        <div class="product__related-product">
                            <h3 class="text-center">同じタイプの製品</h3>
                            <hr>
                            <div class="product__related-product__container">
                                <div class="product-item">
                                    <img src="/static/images/product/plastic-bag.png">
                                    <div class="product-name">ビニール袋</div>
                                </div>
                                <div class="product-item">
                                    <img src="/static/images/product/PE-film.png">
                                    <div class="product-name">PEフィルム</div>
                                </div>
                                <div class="product-item">
                                    <img src="/static/images/product/PVC-film.png">
                                    <div class="product-name">PVCフィルム</div>
                                </div>
                                <div class="product-item">
                                    <img src="/static/images/product/zipper-bag.png">
                                    <div class="product-name">ジッパーバッグ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>