<div class="main product-page">
    <div class="banner">
        <div class="banner-img">
            <img class="w-100" src="images/page/slide-1.png">
            <div class="page-title"><span>取扱商品</span></div>
        </div>
    </div>
    <div class="about">
        <div class="title text-center container">
            <h1>私たちの取扱商品</h1>
            <hr class="hr-line">
            <h3 class="color-blue">Our product</h3>
        </div>
        <div class="content">
            <div class="container text-center">
                私たちは常に長期的な事業戦略とともにお客様の声に耳を傾けることをモットーに、Thai Hung Investment＆Production Co.、Ltd.はお客様の成功は私たち自身の成功であると認識しています。
            </div>
        </div>
        <div class="product">
            <div class="product__tab w-100 active">
                <div class="container product__tab__container text-center" style="visibility: visible; animation-name: fadeInUp;">
                    <ul class="nav nav-tabs border-0 d-inline-block" role="tablist">
                        <li class="nav-item d-inline-block border-0 active">
                            <a class="nav-link" data-toggle="tab" href="#product__tab0" role="tab" aria-selected="false">ビニール袋</a>
                        </li>
                        <li class="nav-item d-inline-block border-0">
                            <a class="nav-link" data-toggle="tab" href="#product__tab1" role="tab" aria-selected="true">PEフィルム</a>
                        </li>
                        <li class="nav-item d-inline-block border-0">
                            <a class="nav-link" data-toggle="tab" href="#product__tab2" role="tab" aria-selected="true">PVCフィルム</a>
                        </li>
                        <li class="nav-item d-inline-block border-0">
                            <a class="nav-link" data-toggle="tab" href="#product__tab3" role="tab" aria-selected="true">ジッパーバッグ</a>
                        </li>
                        <li class="nav-item d-inline-block border-0">
                            <a class="nav-link" data-toggle="tab" href="#product__tab4" role="tab" aria-selected="true">プラスチック製タイストラップ</a>
                        </li>
                        <li class="nav-item d-inline-block border-0">
                            <a class="nav-link" data-toggle="tab" href="#product__tab5" role="tab" aria-selected="true">PVCフィルム</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content container p-0">
                    <div class="tab-pane fade container active in" id="product__tab0" role="tabpanel">
                        <div class="product-container">
                            <div class="product-item">
                                <img src="images/product/plastic-bag.png">
                                <div class="product-name">PE、PP、農業用PEプリントバッグ</div>
                                <div class="product-excerpt">
                                    PE、PPバッグ、農業用PEフィルム...私たちの日常生活をはるかに容易にし、広告などのニーズに応えます。
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/PE-film.png">
                                <div class="product-name">PEバッグ</div>
                                <div class="product-excerpt">
                                    PEビニール袋は100％プラスチックでできており、絶対的な靭性、滑らかな表面、光沢があります。 ファッションを作成し、人目を引く、
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/PVC-film.png">
                                <div class="product-name">HDバッグ</div>
                                <div class="product-excerpt">
                                    HDビニール袋は、高度な技術ラインと最新の価格で設計および製造する高品質の製品です。
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/zipper-bag.png">
                                <div class="product-name">PPバッグ</div>
                                <div class="product-excerpt">
                                    PPプラスチックバッグはポリプロピレンから作られ、次のような優れた利点があります。HDまたはPEプラスチックのように伸びるのが難しい、細かさと程度
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/PVC-film-2.png">
                                <div class="product-name">OPPバッグ</div>
                                <div class="product-excerpt">
                                    OPPバッグは透明なOPP素材で作られており、口に両面テープが付いていますカード、音楽CD、ジュエリーを収納するために使用されます
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/PVC-film-2.png">
                                <div class="product-name">PVCフィルム</div>
                                <div class="product-excerpt">
                                    HDビニール袋は、高度な技術ラインと最新の価格で設計および製造する高品質の製品です。
                                </div>
                            </div>
                        </div>
                        <div class="paginator-container">
                            <div class="paginator">
                                <a class="skip" href="#"> &lt;&lt; </a>
                                <a class="skip" href="#"> &lt; </a>
                                <a class="active" href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                                <a class="skip" href="#"> &gt; </a>
                                <a class="skip" href="#"> &gt;&gt; </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade container" id="product__tab1" role="tabpanel">
                        <div class="product-container">
                            <div class="product-item">
                                <img src="images/product/PVC-film-2.png">
                                <div class="product-name">PVCフィルム</div>
                                <div class="product-excerpt">
                                    HDビニール袋は、高度な技術ラインと最新の価格で設計および製造する高品質の製品です。
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/plastic-bag.png">
                                <div class="product-name">PE、PP、農業用PEプリントバッグ</div>
                                <div class="product-excerpt">
                                    PE、PPバッグ、農業用PEフィルム...私たちの日常生活をはるかに容易にし、広告などのニーズに応えます。
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/PE-film.png">
                                <div class="product-name">PEバッグ</div>
                                <div class="product-excerpt">
                                    PEビニール袋は100％プラスチックでできており、絶対的な靭性、滑らかな表面、光沢があります。 ファッションを作成し、人目を引く、
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/PVC-film.png">
                                <div class="product-name">HDバッグ</div>
                                <div class="product-excerpt">
                                    HDビニール袋は、高度な技術ラインと最新の価格で設計および製造する高品質の製品です。
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/zipper-bag.png">
                                <div class="product-name">PPバッグ</div>
                                <div class="product-excerpt">
                                    PPプラスチックバッグはポリプロピレンから作られ、次のような優れた利点があります。HDまたはPEプラスチックのように伸びるのが難しい、細かさと程度
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/PVC-film-2.png">
                                <div class="product-name">OPPバッグ</div>
                                <div class="product-excerpt">
                                    OPPバッグは透明なOPP素材で作られており、口に両面テープが付いていますカード、音楽CD、ジュエリーを収納するために使用されます
                                </div>
                            </div>
                        </div>
                        <div class="paginator-container">
                            <div class="paginator">
                                <a class="skip" href="#"> &lt;&lt; </a>
                                <a class="skip" href="#"> &lt; </a>
                                <a class="active" href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                                <a class="skip" href="#"> &gt; </a>
                                <a class="skip" href="#"> &gt;&gt; </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade container" id="product__tab2" role="tabpanel">
                        <div class="product-container">
                            <div class="product-item">
                                <img src="images/product/PE-film.png">
                                <div class="product-name">PEバッグ</div>
                                <div class="product-excerpt">
                                    PEビニール袋は100％プラスチックでできており、絶対的な靭性、滑らかな表面、光沢があります。 ファッションを作成し、人目を引く、
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/plastic-bag.png">
                                <div class="product-name">PE、PP、農業用PEプリントバッグ</div>
                                <div class="product-excerpt">
                                    PE、PPバッグ、農業用PEフィルム...私たちの日常生活をはるかに容易にし、広告などのニーズに応えます。
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/PVC-film.png">
                                <div class="product-name">HDバッグ</div>
                                <div class="product-excerpt">
                                    HDビニール袋は、高度な技術ラインと最新の価格で設計および製造する高品質の製品です。
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/zipper-bag.png">
                                <div class="product-name">PPバッグ</div>
                                <div class="product-excerpt">
                                    PPプラスチックバッグはポリプロピレンから作られ、次のような優れた利点があります。HDまたはPEプラスチックのように伸びるのが難しい、細かさと程度
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/PVC-film-2.png">
                                <div class="product-name">OPPバッグ</div>
                                <div class="product-excerpt">
                                    OPPバッグは透明なOPP素材で作られており、口に両面テープが付いていますカード、音楽CD、ジュエリーを収納するために使用されます
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/PVC-film-2.png">
                                <div class="product-name">PVCフィルム</div>
                                <div class="product-excerpt">
                                    HDビニール袋は、高度な技術ラインと最新の価格で設計および製造する高品質の製品です。
                                </div>
                            </div>
                        </div>
                        <div class="paginator-container">
                            <div class="paginator">
                                <a class="skip" href="#"> &lt;&lt; </a>
                                <a class="skip" href="#"> &lt; </a>
                                <a class="active" href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                                <a class="skip" href="#"> &gt; </a>
                                <a class="skip" href="#"> &gt;&gt; </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade container" id="product__tab3" role="tabpanel">
                        <div class="product-container">
                            <div class="product-item">
                                <img src="images/product/PVC-film.png">
                                <div class="product-name">HDバッグ</div>
                                <div class="product-excerpt">
                                    HDビニール袋は、高度な技術ラインと最新の価格で設計および製造する高品質の製品です。
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/plastic-bag.png">
                                <div class="product-name">PE、PP、農業用PEプリントバッグ</div>
                                <div class="product-excerpt">
                                    PE、PPバッグ、農業用PEフィルム...私たちの日常生活をはるかに容易にし、広告などのニーズに応えます。
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/PE-film.png">
                                <div class="product-name">PEバッグ</div>
                                <div class="product-excerpt">
                                    PEビニール袋は100％プラスチックでできており、絶対的な靭性、滑らかな表面、光沢があります。 ファッションを作成し、人目を引く、
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/zipper-bag.png">
                                <div class="product-name">PPバッグ</div>
                                <div class="product-excerpt">
                                    PPプラスチックバッグはポリプロピレンから作られ、次のような優れた利点があります。HDまたはPEプラスチックのように伸びるのが難しい、細かさと程度
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/PVC-film-2.png">
                                <div class="product-name">OPPバッグ</div>
                                <div class="product-excerpt">
                                    OPPバッグは透明なOPP素材で作られており、口に両面テープが付いていますカード、音楽CD、ジュエリーを収納するために使用されます
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/PVC-film-2.png">
                                <div class="product-name">PVCフィルム</div>
                                <div class="product-excerpt">
                                    HDビニール袋は、高度な技術ラインと最新の価格で設計および製造する高品質の製品です。
                                </div>
                            </div>
                        </div>
                        <div class="paginator-container">
                            <div class="paginator">
                                <a class="skip" href="#"> &lt;&lt; </a>
                                <a class="skip" href="#"> &lt; </a>
                                <a class="active" href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                                <a class="skip" href="#"> &gt; </a>
                                <a class="skip" href="#"> &gt;&gt; </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade container" id="product__tab4" role="tabpanel">
                        <div class="product-container">
                            <div class="product-item">
                                <img src="images/product/zipper-bag.png">
                                <div class="product-name">PPバッグ</div>
                                <div class="product-excerpt">
                                    PPプラスチックバッグはポリプロピレンから作られ、次のような優れた利点があります。HDまたはPEプラスチックのように伸びるのが難しい、細かさと程度
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/plastic-bag.png">
                                <div class="product-name">PE、PP、農業用PEプリントバッグ</div>
                                <div class="product-excerpt">
                                    PE、PPバッグ、農業用PEフィルム...私たちの日常生活をはるかに容易にし、広告などのニーズに応えます。
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/PE-film.png">
                                <div class="product-name">PEバッグ</div>
                                <div class="product-excerpt">
                                    PEビニール袋は100％プラスチックでできており、絶対的な靭性、滑らかな表面、光沢があります。 ファッションを作成し、人目を引く、
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/PVC-film.png">
                                <div class="product-name">HDバッグ</div>
                                <div class="product-excerpt">
                                    HDビニール袋は、高度な技術ラインと最新の価格で設計および製造する高品質の製品です。
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/PVC-film-2.png">
                                <div class="product-name">OPPバッグ</div>
                                <div class="product-excerpt">
                                    OPPバッグは透明なOPP素材で作られており、口に両面テープが付いていますカード、音楽CD、ジュエリーを収納するために使用されます
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/PVC-film-2.png">
                                <div class="product-name">PVCフィルム</div>
                                <div class="product-excerpt">
                                    HDビニール袋は、高度な技術ラインと最新の価格で設計および製造する高品質の製品です。
                                </div>
                            </div>
                        </div>
                        <div class="paginator-container">
                            <div class="paginator">
                                <a class="skip" href="#"> &lt;&lt; </a>
                                <a class="skip" href="#"> &lt; </a>
                                <a class="active" href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                                <a class="skip" href="#"> &gt; </a>
                                <a class="skip" href="#"> &gt;&gt; </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade container" id="product__tab5" role="tabpanel">
                        <div class="product-container">
                            <div class="product-item">
                                <img src="images/product/PVC-film-2.png">
                                <div class="product-name">OPPバッグ</div>
                                <div class="product-excerpt">
                                    OPPバッグは透明なOPP素材で作られており、口に両面テープが付いていますカード、音楽CD、ジュエリーを収納するために使用されます
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/plastic-bag.png">
                                <div class="product-name">PE、PP、農業用PEプリントバッグ</div>
                                <div class="product-excerpt">
                                    PE、PPバッグ、農業用PEフィルム...私たちの日常生活をはるかに容易にし、広告などのニーズに応えます。
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/PE-film.png">
                                <div class="product-name">PEバッグ</div>
                                <div class="product-excerpt">
                                    PEビニール袋は100％プラスチックでできており、絶対的な靭性、滑らかな表面、光沢があります。 ファッションを作成し、人目を引く、
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/PVC-film.png">
                                <div class="product-name">HDバッグ</div>
                                <div class="product-excerpt">
                                    HDビニール袋は、高度な技術ラインと最新の価格で設計および製造する高品質の製品です。
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/zipper-bag.png">
                                <div class="product-name">PPバッグ</div>
                                <div class="product-excerpt">
                                    PPプラスチックバッグはポリプロピレンから作られ、次のような優れた利点があります。HDまたはPEプラスチックのように伸びるのが難しい、細かさと程度
                                </div>
                            </div>
                            <div class="product-item">
                                <img src="images/product/PVC-film-2.png">
                                <div class="product-name">PVCフィルム</div>
                                <div class="product-excerpt">
                                    HDビニール袋は、高度な技術ラインと最新の価格で設計および製造する高品質の製品です。
                                </div>
                            </div>
                        </div>
                        <div class="paginator-container">
                            <div class="paginator">
                                <a class="skip" href="#"> &lt;&lt; </a>
                                <a class="skip" href="#"> &lt; </a>
                                <a class="active" href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                                <a class="skip" href="#"> &gt; </a>
                                <a class="skip" href="#"> &gt;&gt; </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-us text-center">
        <div class="text-container container text-center">
            <div class="title">
                <h1>お問い合わせ</h1>
                <hr class="line">
                <h3>CONTACT US</h3>
            </div>
            <div class="content">
                ThaiHungProからの質問およびサポートリクエストについては、ここに情報を残してください。 できるだけ早く確認して対応いたします。 よろしくお願いします！
            </div>
        </div>
        <div class="container">
            <div class="contact-box">
                <span class="tel">TEL.04 2240 2689</span>
                <span class="tel">HOTLINE.0986 019 870</span>
                <span class="working-hour">［受付時間］ 08:00～17:00</span>
            </div>
        </div>
        <div class="container">
            <div class="contact-form">
                <div class="firstname">
                    <div class="form-label"><span class="">社名<span class="required">*</span></span></div>
                    <div class=""><input type="text"></div>
                </div>
                <div class="lastname">
                    <div class="form-label"><span class="form-label">氏名<span class="required">*</span></span></div>
                    <div class=""><input type="text"></div>
                </div>
                <div class="address">
                    <div class="form-label"><span class="form-label">居住地（日本・ベトナム・その他）<span class="required">*</span></span></div>
                    <div class=""><input type="text"></div>
                </div>
                <div class="contentmess">
                    <div class="form-label"><span class="form-label">問い合わせ内容（ベトナム国内調達・日本への輸出・その他） <span class="required">*</span></span></div>
                    <div class=""><textarea></textarea></div>
                </div>
                <div class="submit"><button>送る</button></div>
            </div>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d84272.44478428304!2d105.79558250141893!3d21.01863420403147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aba15ec15d17%3A0x620e85c2cfe14d4c!2sHo%20Chi%20Minh%20Mausoleum!5e0!3m2!1sen!2s!4v1591702736982!5m2!1sen!2s" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="w-100"></iframe>
    </div>
    <div class="social text-center">
        <div class="social-container">
            <div class="fb"><a href="#"><img src="images/page/facebook.png"></a></div>
            <div class="fb"><a href="#"><img src="images/page/twitter.png"></a></div>
            <div class="fb"><a href="#"><img src="images/page/linkedin.png"></a></div>
            <div class="fb"><a href="#"><img src="images/page/youtube.png"></a></div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-menu text-center">
            <ul>
                <li><a href="#">会社概要</a></li>
                <li><a href="#">取扱商品</a></li>
                <li><a href="#">ニュース</a></li>
                <li><a href="#">工場・会社写真</a></li>
            </ul>
        </div>
        <div class="copy-right text-center">
            © 2016 Thaihungpro.ltd, All rights reserved.
        </div>
        <div class="scroll-to-top">
            <svg><path d="M20,30 L20,10 L13,17 M20,10 L27,17" /></svg>
        </div>
    </div>
</div>